/* ############################################################### */
/* Fonts Start */
/* ############################################################### */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');

/* ############################################################### */
/* Fonts End */
/* ############################################################### */

/* ############################################################### */
/* Main Styles Start */
/* ############################################################### */

:root {
    --background-color: #323232;
    --header-color: #000000;
    --footer-color: #000000;
    --aside-right-color: #a9a9a9;
    --aside-left-color: #a9a9a9;

    --color: #ffffff;

    --title-color: #ffffff;
    --text-color: #dbdbdb;
    --text-hover-color: #ffff80;

    --theme-button-color: #ffffff;
    --theme-hover-color: #ffff00;

    --button-color: #ffff00;
    --button-text-color: #000000;
    --button-hover-color: #ffff80;

    --addition-color: #ffff00;

    --card-background-color: #282828;
    --card-border-color: #232323;
    --card-background-hover-color: #393939;
}

[data-theme="light"] {
    --background-color: #e9e9e9;
    --header-color: #d4d4d4;
    --footer-color: #d4d4d4;
    --aside-right-color: #b7b2b2;
    --aside-left-color: #b7b2b2;

    --color: #000000;

    --title-color: #000000;
    --text-color: #292828;
    --text-hover-color: #d34747;

    --theme-button-color: #000000;
    --theme-hover-color: #d34747;

    --button-color: brown;
    --button-text-color: #ffffff;
    --button-hover-color: #d34747;

    --addition-color: brown;

    --card-background-color: #e3e3e3;
    --card-border-color: #b7b2b2;
    --card-background-hover-color: #f5f5f5;
}

[data-theme="dark"] {
    --background-color: #323232;
    --header-color: #000000;
    --footer-color: #000000;
    --aside-right-color: #a9a9a9;
    --aside-left-color: #a9a9a9;

    --color: #ffffff;

    --title-color: #ffffff;
    --text-color: #dbdbdb;
    --text-hover-color: #ffff80;

    --theme-button-color: #ffffff;
    --theme-hover-color: #ffff00;

    --button-color: #ffff00;
    --button-text-color: #000000;
    --button-hover-color: #ffff80;

    --addition-color: #ffff00;

    --card-background-color: #282828;
    --card-border-color: #232323;
    --card-background-hover-color: #393939;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--background-color);
    color: var(--color);

    font-size: 16px;
    font-weight: 400;
}

.site {
    display: grid;
    grid-template-columns: minmax(100px, 200px) auto minmax(100px, 200px);
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header header"
        "aside-left main aside-right"
        "footer footer footer";

    min-height: 100vh
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside-left {
    grid-area: aside-left;
}

.aside-right {
    grid-area: aside-right;
}

.footer {
    grid-area: footer;
}

.container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
}

/* ############################################################### */
/* Main Styles End */
/* ############################################################### */

/* ############################################################### */
/* Header Start */
/* ############################################################### */

.header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--header-color);

    font-weight: 700;
    font-size: 30px;
}

.theme-switcher {
    cursor: pointer;

    position: absolute;
    bottom: calc(50% - 8px);
    right: 45px;
}

.theme-switcher-cover {
    display: none;

    height: 1.75rem;
    width: 1.5rem;
}

.theme-switcher-active {
    display: block;
}

.theme-switcher-light-image {
    stroke: var(--theme-button-color);
}

.theme-switcher-dark-image {
    stroke: var(--theme-button-color);
}

.theme-switcher-light-image:hover {
    stroke: var(--theme-hover-color);
}

.theme-switcher-dark-image:hover {
    stroke: var(--theme-hover-color);
}

/* ############################################################### */
/* Header End */
/* ############################################################### */

/* ############################################################### */
/* Aside Start */
/* ############################################################### */

.aside {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    font-weight: 700;
    font-size: 30px;
}

.aside-left {
    background-color: var(--aside-left-color);
}

.aside-right {
    background-color: var(--aside-right-color);
}

/* ############################################################### */
/* Aside End */
/* ############################################################### */

/* ############################################################### */
/* Main Start */
/* ############################################################### */

.main {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ############################################################### */
/* Main End */
/* ############################################################### */

/* ############################################################### */
/* Content Start */
/* ############################################################### */

.content {
    margin-bottom: 200px;
}

.content-title {
    margin-bottom: 20px;
}

.content-subtitle {
    margin-bottom: 40px;
}

.content-text-colored {
    color: var(--addition-color);
}

.content-button {
    display: block;

    border: none;

    font-size: 16px;
    font-weight: 700;

    background-color: var(--button-color);
    color: var(--button-text-color);

    cursor: pointer;

    padding: 10px 20px;
    margin-bottom: 20px;

    transition: 0.3s;
}

.content-button:hover {
    background-color: var(--button-hover-color);
}

.content-link {
    color: var(--text-color);
}

.content-link:hover {
    color: var(--text-hover-color);
}

/* ############################################################### */
/* Content End */
/* ############################################################### */

/* ############################################################### */
/* Subgrid Start */
/* ############################################################### */

.subgrid-practice {
}

.subgrid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.subgrid-block {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 10px;

    justify-content: center;

    background-color: var(--card-background-color);

    border: 5px solid var(--card-border-color);
    border-radius: 5px;

    padding: 20px;

    transition: all 0.3s ease 0s;
}

.subgrid-block:hover {
    background-color: var(--card-background-hover-color);
}

.subgrid-text {
    text-indent: 10px;
    color: var(--text-color);
}

.subgrid-image {
    max-width: 510px;
    max-height: 382px;

    min-width: 200px;
    min-height: 200px;

    border-radius: 5px;
}

/* ############################################################### */
/* Subgrid End */
/* ############################################################### */

/* ############################################################### */
/* Footer Start */
/* ############################################################### */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--footer-color);

    font-weight: 700;
    font-size: 30px;
}

/* ############################################################### */
/* Footer End */
/* ############################################################### */

/* ############################################################### */
/* Media Queries Start */
/* ############################################################### */

@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 400px;
    }
}

/* ############################################################### */
/* Media Queries End */
/* ############################################################### */
